html{
    font-family: Arial, Helvetica, sans-serif;
}
/*Head & Navigation Bar & Search Bar*/
/*Fix header on the top on the screen*/
.header{
    position: fixed;
}
/*Build up the flexbox*/
.header-bar{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 40px;
    padding-right: 40px;
}
/*Container01: The Name*/
#logo{
    color:black;
    font-family: inherit;
}
#logo:hover{
    color:black;
    text-decoration:none;
}
.main-logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: black;
    display: block;
    text-align: bottom;
}

/*Container02: Navigation Bar*/
nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    display:block;
}

.navigationbar{
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    text-align: bottom;
}

.navbar{
    float: left;
}

.navbar a{
    display: block;
    color: black;
    font-family: inherit;
    text-align: bottom;
    padding-bottom: 10px;
    padding-top:20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #142C8B;
    color: white;
    text-decoration: none;
}

/*Timeline Display*/
.dropdown{
    position:relative;
    display: block;
}
.dropdown-content{
    display:none;
    position:absolute;
    color: #3a3a3a;
    background-color: #ffffff;
    width:100%;
}
.dropdown:hover .dropdown-content{
    display: block;
}

/*Flexbox for years*/
.years{
    display:flex;
    flex-direction:row;
    width: 100%;
}
.year-detail{
    text-align:center;
    list-style-type:none;
    flex-grow: 1;
    padding:0;
    margin:0;
    background:#ffff00;
}
.year-detail a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size:14px;
    text-decoration:none;
    color:#142C8B;
    padding-left:70px;
    padding-right:70px;
    padding-top:2px;
    padding-bottom: 2px;

}
.year-detail a:hover{
    background-color:#142C8B;
    color: #ffffff;
}
/*Flexbox for experience*/
.div-for-flex{
    display:flex;
    flex-direction:row;
}

.experience{
    flex-grow: 1;
    flex:1;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}

.experience:hover{
    background-color:#ffffff;
    border-bottom-color: #3a3a3a;

}

.experience a{
    font-family: arial;
    color:#3a3a3a;
    text-decoration:none;
    display:block;
    padding-left:10px;
}

.experience a:hover{
    color: white;
    background-color:#142C8B;
}


.lists{
    list-style-type: none;
    padding:0;
    margin:0;
}

/* resume */
#contact{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
    color:white;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #142C8B;
}

.table{
    margin-left: 40px;
    margin-right: 40px;
}